@import "../../components/GlobalStyles/GlobalStyles.scss";

.left-pattern {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: $color-1;

    .title {
        color: $color-3;
        font-weight: 700;
    }

    .btn-login {
        padding: 15px 70px;
        background-image: $gradient-1;
        outline: none;
        border: none;
        font-weight: 700;
        font-size: 18px;
        height: 60px;
        color: $color-2;
    }
}

.right-pattern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./background.png);
    background-size: cover;
}