@import "../../components/GlobalStyles/GlobalStyles.scss";

.wrapper {
    position: relative;
    background-color: $color-1;
    height: 100vh;

    .logout {
        position: absolute;
        top: 0;
        right: 10px;


    }
}