@import "../../components/GlobalStyles/GlobalStyles.scss";

.wrapper {
    position: relative;
    background-color: $color-1;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .logout {
        position: absolute;
        top: 0;
        right: 10px;


    }

}